.container {
	display: grid;
	grid-template-rows: max-content;
	// justify-items: center;
	// align-items: center;
	padding: 6rem 0;

	&__form {
		display: grid;
		grid-template-columns: min-content;
		grid-gap: 3rem 0;
		justify-items: center;

		&__input {
			width: 25rem;
			height: 3.5rem;
			font-size: 1.2rem;
			border-radius: 8px;
			text-indent: 1.5rem;
			border-width: 0;
			box-shadow: -5px 10px 6px -6px rgba(black, 0.5);

			&--requirement {
				height: 7rem;
			}
		}

		&__submit-button {
			//width: 20rem;
			//height: 3.5rem;
			background-color: white;
			font-size: 2rem;
			border-width: 0;
			cursor: pointer;
			box-shadow: 0px 10px 6px -6px rgba(black, 0.5);
			padding: 1rem 2rem;

			&:hover,
			&:active {
				background-color: $color-red;
				color: $color-white;
			}
		}
	}
}

.f_svg-c {
	height: 3rem;
	width: 3rem;
}
