.footer {
	&__offices {
		display: grid;
		margin: 0 0rem;

		&__office {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
			//This fits 2 elemet of size 300px each or greater, bolow that we get a new row.

			&__googleMap {
				&__map {
					width: 100%;
					height: 70vh;
				}
			}

			&__info {
				display: grid;
				grid-template-rows: min-content min-content min-content;
				grid-template-columns: 1fr 1fr;

				grid-gap: 3rem;

				padding: 4rem;
				background-image: linear-gradient(
					to bottom,
					rgba(black, 0.3),
					rgba($color-primary, 1)
				);
			}
		}
	}
	&__phone-call-link {
		&__icon {
			width: 20rem;
			height: 10rem;
			visibility: hidden;
		}
	}
}
