.footer {
	display: grid;
	grid-template-rows: min-content min-content 1fr;

	&__gov-logos {
		grid-row: 1 / 2;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		img {
			max-width: 100%;
			min-height: 100%;
		}
	}

	&__office {
		grid-row: 2 / 3;

		display: grid;
		grid-template-rows: min-content min-content;
		grid-template-columns: 1fr 1fr;

		color: white;

		&__heading {
			grid-row: 1 / 2;
		}

		&__office1 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
		}

		&__office2 {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
		}
	}
}
