.header {
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	grid-template-columns: minmax(min-content, 2rem) minmax(
			min-content,
			max-content
		);

	height: 100%;
	background-image: linear-gradient(
			to right,
			rgba($color-secondary, 0.8),
			rgba($color-secondary, 0.8),
			rgba($color-primary, 0.5),
			rgba($color-primary, 0.87)
		),
		url(../assets/images/bgDesktop1.jpg);
	background-size: cover;

	position: relative;

	&__logo {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		max-width: 8rem;
		max-width: 8rem;
		margin: 1.5rem;
	}

	&__title {
		grid-row: 2 / 3;
		grid-column-start: 2;

		&__main {
			color: black;
			font-family: $securbotFont;
			font-size: 5rem;
			display: block;

			&__capital {
				color: $color-tertiary;
			}
		}
		&__sub {
			color: black;
			font-family: $sidEnpFont;
			font-size: 4.1rem;

			&__capital {
				color: $color-tertiary;
			}
		}
	}
	&__sub-title {
		font-family: "Lato" san-serif;
	}
}
