.header {
	display: grid;
	grid-template-rows: 1fr minmax(max-content, 2fr) 1fr;
	//grid-template-columns: max-content minmax(max-content, 1fr);

	height: 100%;
	background-image: linear-gradient(
			to bottom right,
			rgba($color-red, 0.7),
			rgba($color-blue, 0.7)
		),
		url(../assets/images/bgDesktop2.jpg);
	background-size: cover;
	z-index: 0;

	&__title {
		grid-row: 2/3;

		display: grid;
		grid-template-columns: minmax(min-content, max-content);
		align-content: center;
		justify-content: center;
		padding: 0 4rem;

		@media only screen and (max-width: 20.625em) {
			padding: 0 1.5rem;
		}

		&__main-1,
		&__main-2 {
			color: $color-secondary;
			font-family: $sidEnpFont;
			display: inline-block;

			font-size: 6rem;
			@media only screen and (max-width: 46.25em) {
				font-size: 4rem;
			}

			@media only screen and (max-width: 28.75em) {
				font-size: 2.5rem;
			}

			@media only screen and (max-width: 20.625em) {
				font-size: 2rem;
			}

			&:first-letter {
				color: $color-tertiary;
			}
		}

		&__sub {
			font-family: "Lato" san-serif;
			color: $color-secondary;
			display: grid;
			justify-self: end;

			@media only screen and (max-width: 46.25em) {
				font-size: 0.8rem;
			}

			@media only screen and (max-width: 28.75em) {
				font-size: 0.6rem;
			}

			@media only screen and (max-width: 20.625em) {
				//font-size: 2rem;
			}
		}
	}

	&__contact-links {
		grid-row: 3/4;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(5rem, min-content));
		//grid-template-rows: min-content, min-content;
		grid-auto-flow: column;
		grid-gap: 4rem;
		justify-content: center;
		justify-items: center;

		&__call-mail {
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			grid-gap: 2rem;

			&__icon {
				width: 4rem;
				height: 4rem;
			}

			&__link:link,
			&__link:visited {
				color: $color-secondary;
			}

			&__link:hover,
			&__link:active {
				color: $color-primary;
			}
		}
	}
}
