.header {
	display: grid;
	//grid-template-rows: max-content 1fr;
	grid-template-columns: max-content minmax(max-content, 1fr);

	height: 100%;
	background-image: linear-gradient(
			to right,
			rgba($color-primary, 0.9),
			rgba($color-primary, 0.9),
			rgba($color-primary, 0.9),
			rgba($color-primary, 0.9)
		),
		url(../assets/images/bgDesktop.jpg);
	background-size: cover;

	//clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);

	&__logo {
		display: grid;
		// grid-auto-flow: column;
		// grid-template-columns: max-content;
		//justify-content: start;
		padding: 1rem;
		margin: auto;

		&__img {
			max-width: 6rem;
			max-height: 6rem;
			margin: auto;
			//justify-self: center;
		}

		&__text-1,
		&__text-2 {
			color: $color-secondary;
			font-family: $securbotFont;
			font-size: 1.5rem;
			display: inline-block;

			//align-self: start;

			&:first-letter {
				color: red;
			}
		}
	}

	&__title {
		display: grid;
		margin: auto;
		justify-items: center;

		&__main-1,
		&__main-2 {
			color: $color-secondary;
			font-family: $sidEnpFont;
			display: inline-block;

			font-size: 6rem;

			&:first-letter {
				color: red;
			}
		}

		&__sub {
			font-family: "Lato" san-serif;
			color: $color-secondary;
		}
	}
}
