.button {
	//background-color: $color-primary;
	//margin: 0rem min(10, 30rem);
	//padding: 10rem;

	display: grid;
	grid-template-columns: min-content; //minmax(min-content, 1fr);
	grid-template-rows: minmax(10rem, 1fr);
	justify-content: center;
	align-items: center;

	//transform: translateY(-50%);

	&__btn {
		padding: 1rem 4rem;
		background-color: $color-secondary;
		color: $color-primary;
		//box-shadow: 2rem 2rem 4rem rgba(white, 0.2);
		-webkit-box-shadow: 0 10px 6px -6px rgba(black, 0.2);
		font-size: 2rem;

		&:hover {
			background-color: $color-tertiary;
			color: $color-primary;
		}
	}
}
