.nav {
	&__nav-list {
		display: flex;
		justify-content: space-evenly;

		background-color: $color-secondary;

		&__nav-item {
			list-style-type: none;
			padding: 1rem;
			font-size: 2rem;

			&__nav-link {
				text-decoration: none;
				color: $color-primary;
			}
		}
		&__nav-item:hover {
			background-color: $color-tertiary;
		}
	}
}
