.nav {
	&__nav-list {
		display: flex;

		list-style: none; //getting rid of link bullets in ul itself

		&__nav-item {
			flex-grow: 1;
			background-color: $color-primary;
			padding: 1.5rem;

			&:hover {
				background-color: $color-secondary;
			}

			&:hover &__nav-link {
				color: $color-primary;
			}

			&__nav-link {
				&:link,
				&:visited {
					font-size: 2.2rem;
					text-decoration: none;
					color: $color-secondary;
					font-weight: 300;

					background-size: 100%;
					list-style-type: none;
				}

				&:hover,
				&:active {
				}
			}
		}
	}
}
