.nav {
	&__nav-list {
		display: flex;

		&__nav-item {
			flex-grow: 1;

			list-style-type: none;
			padding: 1rem;
			font-size: 2rem;
			background-color: $color-primary;
			text-align: center;

			&__nav-link {
				text-decoration: none;
				color: $color-secondary;
			}

			&:hover {
				background-color: $color-secondary;

				&__nav-link {
					color: $color-primary;
				}
			}
		}
	}
}
