.navigation {
	&__background {
		position: fixed;
		top: 6rem;
		right: 6rem;
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		background-image: radial-gradient(
			$color-primary,
			$color-primary,
			$color-primary-light
		);
		z-index: 2000;
		//transform: scale(80);

		@media only screen and (max-width: 46.25em) {
			top: 3.5rem;
			right: 3.5rem;
			height: 4rem;
			width: 4rem;
		}

		@media only screen and (max-width: 28.75em) {
			top: 2rem;
			right: 2rem;
		}

		@media only screen and (max-width: 20.625em) {
			top: 1rem;
			right: 1rem;
			height: 3rem;
			width: 3rem;
		}
	}

	&__btn {
		position: fixed;
		top: 5.5rem;
		right: 5.5rem;
		height: 6rem;
		width: 6rem;
		background-color: $color-secondary;
		z-index: 4000;
		border-radius: 50%;
		cursor: pointer;

		display: grid;

		@media only screen and (max-width: 46.25em) {
			top: 3rem;
			right: 3rem;
			height: 5rem;
			width: 5rem;
		}

		@media only screen and (max-width: 28.75em) {
			top: 2rem;
			right: 2rem;
		}

		@media only screen and (max-width: 20.625em) {
			top: 1rem;
			right: 1rem;
			height: 4rem;
			width: 4rem;
		}

		span {
			background-color: $color-primary;
			height: 2px;
			width: 2.5rem;
			align-self: center;
			justify-self: center;

			@media only screen and (max-width: 20.625em) {
				width: 1.8rem;
			}
		}

		span::before,
		span::after {
			display: inline-block;
			position: absolute;
			background-color: $color-primary;
			height: 2px;
			width: 2.5rem;
			transition: transform 0.3s;

			@media only screen and (max-width: 20.625em) {
				width: 1.8rem;
			}
		}

		span::before {
			content: "";
			transform: translateY(0.7rem);

			@media only screen and (max-width: 20.625em) {
				transform: translateY(0.5rem);
			}
		}

		span::after {
			content: "";
			transform: translateY(-0.7rem);

			@media only screen and (max-width: 20.625em) {
				transform: translateY(-0.5rem);
			}
		}
	}

	&__btn:hover span::before {
		transform: translateY(0.9rem);

		@media only screen and (max-width: 20.625em) {
			transform: translateY(0.7rem);
		}
	}

	&__btn:hover span::after {
		transform: translateY(-0.9rem);

		@media only screen and (max-width: 20.625em) {
			transform: translateY(-0.7rem);
		}
	}

	&__checkbox {
		display: none;
	}

	&__nav {
		position: fixed;
		height: 100vh;
		width: 100%;
		z-index: 3500;

		visibility: hidden;

		display: grid;
		justify-content: center;
		align-content: center;
		text-align: center;

		&__list {
			&__item {
				list-style-type: none;

				&__link {
					&,
					&:link,
					&:visited {
						color: $color-secondary;
						text-decoration: none;
						display: inline-block;
						padding: 1rem;
						margin: 1rem;
						background-color: transparent;
					}

					&:hover,
					&:active {
						color: $color-primary;
						background-color: $color-secondary;
						//transition: background-color 0.5s;
					}
				}
			}
		}
	}

	&__checkbox:checked ~ &__nav {
		visibility: visible;
	}

	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}
}
