$color-primary: #e6f4ff;
$color-secondary: #2b5769;
$color-tertiary: #ff0000;

$color-primary-light: #fff6e3;
$color-primary-light: #5b5a7d;

$color-secondary-light: #518396;

$color-black: black;
$color-white: white;

// $color-primary: #e6f4ff;
// $color-secondary: #2b5769;
// $color-tertiary: #ff0000;
