// $color-primary: black;
// $color-secondary: white;
// $color-tertiary: red;

$color-black: #000;
$color-white: #fff;

$color-red: red;
$color-blue: blue;

$color-red-dark: #b30000;
$color-blue-dark: #0000b3;

// $color-primary: #e6f4ff;
// $color-secondary: #2b5769;
// $color-secondary: #444647;
// $color-secondary: #36354a;
// $color-tertiary: #ff0000;
// $color-primary-light: #fff6e3;
// $color-primary-light: #5b5a7d;
