*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	padding: 1.5rem;

	@media only screen and (max-width: 46.25em) {
		padding: 0;
	}

	@media only screen and (max-width: 68.5em) {
		font-size: 60%;
	}

	@media only screen and (max-width: 68.5em) {
		font-size: 57%;
	}

	@media only screen and (max-width: 59.375em) {
		font-size: 50%;
	}
}

body {
	box-sizing: border-box;
}
