@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@font-face {
	font-family: "securbotFont";
	src: url("../assets/fonts/securbotFont.ttf");
}

@font-face {
	font-family: "seFont";
	src: url("../assets/fonts/seFont.ttf");
}

$securbotFont: "securbotFont", san-serif;
$sidEnpFont: "seFont", san-serif;
$generalFont: "Lato";

body {
	font-family: $securbotFont;
}

html {
}
