@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@font-face {
	font-family: "securbotFont";
	src: url("../assets/fonts/securbotFont.ttf");
}

@font-face {
	font-family: "seFont";
	src: url("../assets/fonts/seFont.ttf");
}

$securbotFont: "securbotFont", san-serif;
$sidEnpFont: "seFont", san-serif;
$generalFont: "Lato";

body {
	font-family: $generalFont;
}

html {
}

$color-black: black;
$color-white: white;

.normalText {
	&--black {
		color: black;
	}
	&--white {
		color: white;
	}
}

%heading {
	text-align: center;
}

.heading-1 {
	@extend %text;
	font-size: 5rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.heading-2 {
	@extend %text;
	font-size: 4rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.heading-3 {
	@extend %heading;
	font-size: 3rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.heading-4 {
	@extend %heading;
	font-size: 2rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

%text {
	text-align: center;
}

.text-1 {
	@extend %text;
	font-size: 5rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.text-2 {
	@extend %text;
	font-size: 4rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.text-3 {
	@extend %text;
	font-size: 3rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.text-4 {
	@extend %text;
	font-size: 2rem;
	font-weight: 400;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}
