@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300&display=swap");

@font-face {
	font-family: "securbotFont";
	src: url("../assets/fonts/securbotFont.ttf");
}

@font-face {
	font-family: "seFont";
	src: url("../assets/fonts/seFont.ttf");
}

$securbotFont: "securbotFont", san-serif;
$sidEnpFont: "seFont", san-serif;

.body {
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	font-weight: 400;
}

$color-black: black;
$color-white: white;

%heading {
	text-align: center;
}

.heading-1 {
	@extend %heading;
	font-size: 4.5rem;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.heading-2 {
	@extend %heading;
	font-size: 4rem;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.heading-3 {
	@extend %heading;
	font-size: 2.5rem;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}

.heading-4 {
	@extend %heading;
	font-size: 1.6rem;

	&--black {
		color: $color-black;
	}
	&--white {
		color: $color-white;
	}
}
