body {
  background-color: black;
}

div {
  color: blanchedalmond;
}

.header {
  background-color: coral;
  color: blue;
  padding: 25px;
}

.footer {
  background-color: cadetblue;
  color: goldenrod;
  padding: 25px;
}

