*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Lato", san-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 15px;
}

.header{
	height: 90vh;
	background-image: linear-gradient(to right bottom, rgba(0,0,0, 0.87), rgba(0, 0, 0, 0.8)), url(3d19d77c1451f305cb9d56be5a03d055.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}

.header h1 span{
	color: white;
	font-size: 30px;
	display: block;
}

.header h2{
	color: white;
	font-size: 15px;

}
.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50% );
	text-align: center
}
